<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body class={{ bodyCssClass|default }}>

    <header id="header">

        <a href="homepage.php" id="logo">
            <img src="{{ asset('build/images/logo.png') }}" alt="trick logo">
        </a>

        <nav>
            <ul>
                <li><a href="/figure/">Home</a></li>
                <li><a href="/figure/#tricks">Tricks</a></li>
                {% if app.user %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}

            </ul>

        </nav>

    </header>

    {% block body %}{% endblock %}

    <footer id="footer">

        <span id="copyright">copyright 2021</span>

    </footer>

</body>

</html>
